USE [HANG4_NKD]
GO
/****** Object:  Table [dbo].[CHATLIEU]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHATLIEU](
	[MACL] [nvarchar](10) NOT NULL,
	[TENCL] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__CHATLIEU__603F182263DDA550] PRIMARY KEY CLUSTERED 
(
	[MACL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MACV] [nvarchar](10) NOT NULL,
	[TENCV] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__CHUCVU__603F1834DF1A2145] PRIMARY KEY CLUSTERED 
(
	[MACV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHDB]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDB](
	[MAHDCT] [nvarchar](10) NOT NULL,
	[MAHD] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[SOLUONG] [float] NULL,
	[DONGIA] [float] NULL,
	[GIAMGIA] [float] NULL,
	[THANHTIEN] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__CTHDB__1A7000820B5141E1] PRIMARY KEY CLUSTERED 
(
	[MAHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HANG]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANG](
	[MAHANG] [nvarchar](10) NOT NULL,
	[TENHANG] [nvarchar](100) NULL,
	[MACL] [nvarchar](10) NOT NULL,
	[MANCC] [nvarchar](10) NOT NULL,
	[MATTSP] [nvarchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIABAN] [float] NULL,
	[GHICHU] [nvarchar](max) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__HANG__279EA4C2047355B9] PRIMARY KEY CLUSTERED 
(
	[MAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADONBAN]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONBAN](
	[MAHD] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[NGAYBAN] [date] NULL,
	[TONGTIEN] [float] NULL,
	[MATT] [nvarchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__HOADONBA__603F20CE873F6698] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HTTT]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HTTT](
	[MATT] [nvarchar](10) NOT NULL,
	[TENTT] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__HTTT__6023720FEF63C350] PRIMARY KEY CLUSTERED 
(
	[MATT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [nvarchar](10) NOT NULL,
	[TENKH] [nvarchar](100) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](500) NULL,
	[MIEN] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__KHACHHAN__603F592C89CBC845] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUDONGIA]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUDONGIA](
	[MALS] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[DONGIANHAPCU] [float] NULL,
	[DONGIANHAPMOI] [float] NULL,
	[DONGIABANCU] [float] NULL,
	[DONGIABANMOI] [float] NULL,
	[NGAYCAPNHAT] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__LICHSUDO__603F4150FEBDAE11] PRIMARY KEY CLUSTERED 
(
	[MALS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICHSUNHAPHANG]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICHSUNHAPHANG](
	[MALSNH] [nvarchar](10) NOT NULL,
	[MAHANG] [nvarchar](10) NOT NULL,
	[TONKHO] [int] NULL,
	[SOLUONGNHAP] [int] NULL,
	[TONGKHO] [int] NULL,
	[THOIGIAN] [date] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__LICHSUNH__2E59B81E798378A5] PRIMARY KEY CLUSTERED 
(
	[MALSNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nvarchar](10) NOT NULL,
	[TENNCC] [nvarchar](200) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__NHACUNGC__7ABEA582AD6FBD20] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nvarchar](10) NOT NULL,
	[TENNV] [nvarchar](100) NULL,
	[MACV] [nvarchar](10) NOT NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](500) NULL,
	[DANTOC] [nvarchar](100) NULL,
	[DIENTHOAI] [nvarchar](15) NULL,
	[EMAIL] [nvarchar](max) NULL,
	[LUONG] [float] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__NHANVIEN__603F5114AB2D3DA0] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANKH]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANKH](
	[MATK_KH] [nvarchar](10) NOT NULL,
	[MAKH] [nvarchar](10) NOT NULL,
	[TENTK] [nvarchar](100) NULL,
	[MATKH] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__TAIKHOAN__3A0B09F6B4CB096B] PRIMARY KEY CLUSTERED 
(
	[MATK_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAIKHOANNV]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOANNV](
	[MATK_NV] [nvarchar](10) NOT NULL,
	[MANV] [nvarchar](10) NOT NULL,
	[TENTK] [nvarchar](100) NULL,
	[MATKH] [nvarchar](100) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__TAIKHOAN__3A0C2502B9849B74] PRIMARY KEY CLUSTERED 
(
	[MATK_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TTSP]    Script Date: 13/12/2022 22:38:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TTSP](
	[MATTSP] [nvarchar](10) NOT NULL,
	[TENTTSP] [nvarchar](50) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
 CONSTRAINT [PK__TTSP__1AA96EEFB0E02505] PRIMARY KEY CLUSTERED 
(
	[MATTSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHATLIEU] ([MACL], [TENCL], [rowguid]) VALUES (N'B', N'Bạc', N'195b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[CHATLIEU] ([MACL], [TENCL], [rowguid]) VALUES (N'CS', N'Cao su', N'1a5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[CHATLIEU] ([MACL], [TENCL], [rowguid]) VALUES (N'CT', N'Cẩm thạch', N'1b5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [rowguid]) VALUES (N'CV1', N'QUẢN LÝ', N'2c5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [rowguid]) VALUES (N'CV2', N'NHÂN VIÊN BÁN HÀNG', N'2d5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[CHUCVU] ([MACV], [TENCV], [rowguid]) VALUES (N'CV3', N'NHÂN VIÊN KHO', N'2e5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [MACL], [MANCC], [MATTSP], [SOLUONG], [DONGIABAN], [GHICHU], [rowguid]) VALUES (N'MH21', N'GẤU BÔNG DDORREAMON NHỎ', N'V', N'NCC09', N'NKD', 5, 50000, N'', N'855b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [MACL], [MANCC], [MATTSP], [SOLUONG], [DONGIABAN], [GHICHU], [rowguid]) VALUES (N'MH22', N'GẤU BÔNG PIKACHU NHỎ', N'V', N'NCC09', N'NKD', 5, 50000, N'', N'865b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[HANG] ([MAHANG], [TENHANG], [MACL], [MANCC], [MATTSP], [SOLUONG], [DONGIABAN], [GHICHU], [rowguid]) VALUES (N'MH23', N'MÓC KHÓA VỊT CON', N'NH', N'NCC06', N'NKD', 4, 15000, N'', N'875b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[HOADONBAN] ([MAHD], [MANV], [MAKH], [NGAYBAN], [TONGTIEN], [MATT], [rowguid]) VALUES (N'HD01', N'NV01', N'KH01', CAST(N'2021-09-22' AS Date), 1085000, N'HTTT_TM', N'895b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[HOADONBAN] ([MAHD], [MANV], [MAKH], [NGAYBAN], [TONGTIEN], [MATT], [rowguid]) VALUES (N'HD02', N'NV01', N'KH02', CAST(N'2021-09-23' AS Date), 2560000, N'HTTT_CK', N'8a5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[HOADONBAN] ([MAHD], [MANV], [MAKH], [NGAYBAN], [TONGTIEN], [MATT], [rowguid]) VALUES (N'HD03', N'NV02', N'KH03', CAST(N'2021-09-24' AS Date), 3900000, N'HTTT_TM', N'8b5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[HTTT] ([MATT], [TENTT], [rowguid]) VALUES (N'HTTT_CK', N'CHUYỂN KHOẢN', N'305b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[HTTT] ([MATT], [TENTT], [rowguid]) VALUES (N'HTTT_MM', N'MOMO', N'315b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[HTTT] ([MATT], [TENTT], [rowguid]) VALUES (N'HTTT_TGN', N'THẺ GHI NỢ', N'325b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [DIACHI], [MIEN], [DIENTHOAI], [EMAIL], [rowguid]) VALUES (N'KH01', N'Trần Thái Nguyên', N'Nam', CAST(N'2002-06-11T00:00:00.000' AS DateTime), N'266 Tô Hiến Thành, Phường 15, Quận 10, Thành phố Hồ Chí Minh', N'NAM', N'0945373250', N'thainguyen1106@gmail.com', N'355b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [DIACHI], [MIEN], [DIENTHOAI], [EMAIL], [rowguid]) VALUES (N'KH02', N'Đoàn Văn Đức', N'Nam', CAST(N'2001-05-01T00:00:00.000' AS DateTime), N'51 Thành Thái, Phường 16, Quận 10, Thành phố Hồ Chí Minh', N'NAM', N'0349633678', N'vanduc0105@gmail.com', N'365b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [GIOITINH], [NGAYSINH], [DIACHI], [MIEN], [DIENTHOAI], [EMAIL], [rowguid]) VALUES (N'KH03', N'Nguyễn Văn Toàn', N'Nam', CAST(N'2002-08-12T00:00:00.000' AS DateTime), N'21 Nguyễn Thị Thực, Phường 2, Quận 3', N'NAM', N'0909365872', N'vantoan1208@gmail.com', N'375b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [rowguid]) VALUES (N'NCC01', N'TRUNG TÂM SẢN XUẤT MÓC KHÓA', N'415b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [rowguid]) VALUES (N'NCC02', N'CÔNG TY MỐC KHÓC AN BÌNH', N'425b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [rowguid]) VALUES (N'NCC03', N'SẢN XUẤT MỐC KHÓA VYVY', N'435b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [MACV], [GIOITINH], [NGAYSINH], [DIACHI], [DANTOC], [DIENTHOAI], [EMAIL], [LUONG], [rowguid]) VALUES (N'NV01', N'Phạm Nguyệt Anh', N'CV2', N'Nữ', CAST(N'2002-11-05T00:00:00.000' AS DateTime), N'Phường Thạnh Mỹ Lợi, Quận 2, Thành phố Hồ Chí Minh', N'Kinh', N'0967567876', N'NguyetAn1105h@gmail.com', 5500000, N'515b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [MACV], [GIOITINH], [NGAYSINH], [DIACHI], [DANTOC], [DIENTHOAI], [EMAIL], [LUONG], [rowguid]) VALUES (N'NV02', N'Nguyễn Minh Huy', N'CV2', N'Nam', CAST(N'2001-12-23T00:00:00.000' AS DateTime), N'26, Đường 57, Nguyễn Thị Lắng, Ấp Chợ, Tân Phú Trung, Củ Chi, Thành phố Hồ Chí Minh', N'Khơ-Me', N'0876231456', N'MinhHuy2302@gmail.com', 6000000, N'525b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [MACV], [GIOITINH], [NGAYSINH], [DIACHI], [DANTOC], [DIENTHOAI], [EMAIL], [LUONG], [rowguid]) VALUES (N'NV03', N'Phạm Quang Dự', N'CV2', N'Nam', CAST(N'1999-01-01T00:00:00.000' AS DateTime), N'Tân Thông Hội, Củ Chi, Thành phố Hồ Chí Minh', N'Hoa', N'0678987678', N'QuangDu0101@gmail.com', 6500000, N'535b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[TAIKHOANKH] ([MATK_KH], [MAKH], [TENTK], [MATKH], [rowguid]) VALUES (N'MATK_KH01', N'KH01', N'THAINGUYEN1106', N'THAINGUYEN1106', N'5b5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[TAIKHOANKH] ([MATK_KH], [MAKH], [TENTK], [MATKH], [rowguid]) VALUES (N'MATK_KH02', N'KH02', N'VANDUC21', N'VANDUC21', N'5c5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[TAIKHOANKH] ([MATK_KH], [MAKH], [TENTK], [MATKH], [rowguid]) VALUES (N'MATK_KH03', N'KH03', N'VANTOAN1208', N'VANTOAN1208', N'5d5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[TAIKHOANNV] ([MATK_NV], [MANV], [TENTK], [MATKH], [rowguid]) VALUES (N'MATK_NV01', N'NV01', N'NGUYETANH123', N'NGUYETANH123', N'675b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[TAIKHOANNV] ([MATK_NV], [MANV], [TENTK], [MATKH], [rowguid]) VALUES (N'MATK_NV02', N'NV02', N'HUYR', N'HUYR', N'685b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[TAIKHOANNV] ([MATK_NV], [MANV], [TENTK], [MATKH], [rowguid]) VALUES (N'MATK_NV03', N'NV03', N'QUANGQUANGDU', N'QUANGQUANGDU', N'695b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
INSERT [dbo].[TTSP] ([MATTSP], [TENTTSP], [rowguid]) VALUES (N'CNH', N'CHỜ NHẬP HÀNG', N'4d5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[TTSP] ([MATTSP], [TENTTSP], [rowguid]) VALUES (N'DB', N'ĐANG BÁN', N'4e5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
INSERT [dbo].[TTSP] ([MATTSP], [TENTTSP], [rowguid]) VALUES (N'HH', N'HẾT HÀNG', N'4f5b3e3d-cf7a-ed11-9e8a-34c93da63f69')
GO
ALTER TABLE [dbo].[CHATLIEU] ADD  CONSTRAINT [MSmerge_df_rowguid_09C6E7D97BBE4B43B60D71508E4C1AA4]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CHUCVU] ADD  CONSTRAINT [MSmerge_df_rowguid_27AEA3B2E97E41398540E5F54B45739A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTHDB] ADD  CONSTRAINT [MSmerge_df_rowguid_A07CC70C0F764A04B656F082BFED5AA1]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HANG] ADD  CONSTRAINT [MSmerge_df_rowguid_BE02E18F0CBD461191C7B87141175FB9]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HOADONBAN] ADD  CONSTRAINT [MSmerge_df_rowguid_4FFD186F871849E3868E0C822C8F8B63]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[HTTT] ADD  CONSTRAINT [MSmerge_df_rowguid_1C4B1B5F2839421184F6091DEE10F99D]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_2B1B9EBA24D145CBA94F9E13B61E0482]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LICHSUDONGIA] ADD  CONSTRAINT [MSmerge_df_rowguid_4E0B066E694145728D0E5E394E260BA9]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[LICHSUNHAPHANG] ADD  CONSTRAINT [MSmerge_df_rowguid_42AE9014B08A447CB8E89DB84AC96E7A]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [MSmerge_df_rowguid_175BF9BFEB214345A6AF2B0712EEE305]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [MSmerge_df_rowguid_D631BA602E804E89BDC345E1872E40D6]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TAIKHOANKH] ADD  CONSTRAINT [MSmerge_df_rowguid_2BDF5DA617A34BA7960BD93E5601CFB2]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TAIKHOANNV] ADD  CONSTRAINT [MSmerge_df_rowguid_CC285919EAFC45A4AB7CFAFC2EBE3C82]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[TTSP] ADD  CONSTRAINT [MSmerge_df_rowguid_E3CCB0DCE8944B6FA180129103A7AE50]  DEFAULT (newsequentialid()) FOR [rowguid]
GO
ALTER TABLE [dbo].[CTHDB]  WITH NOCHECK ADD  CONSTRAINT [FK_CTHDB_MAHANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTHDB] CHECK CONSTRAINT [FK_CTHDB_MAHANG]
GO
ALTER TABLE [dbo].[CTHDB]  WITH NOCHECK ADD  CONSTRAINT [FK_CTHDB_MAHD] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADONBAN] ([MAHD])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTHDB] CHECK CONSTRAINT [FK_CTHDB_MAHD]
GO
ALTER TABLE [dbo].[HANG]  WITH NOCHECK ADD  CONSTRAINT [FK_HANG_MACL] FOREIGN KEY([MACL])
REFERENCES [dbo].[CHATLIEU] ([MACL])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_MACL]
GO
ALTER TABLE [dbo].[HANG]  WITH NOCHECK ADD  CONSTRAINT [FK_HANG_MANCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_MANCC]
GO
ALTER TABLE [dbo].[HANG]  WITH NOCHECK ADD  CONSTRAINT [FK_HANG_MATTSP] FOREIGN KEY([MATTSP])
REFERENCES [dbo].[TTSP] ([MATTSP])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HANG] CHECK CONSTRAINT [FK_HANG_MATTSP]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH NOCHECK ADD  CONSTRAINT [FK_HOADONBAN_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_MAKH]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH NOCHECK ADD  CONSTRAINT [FK_HOADONBAN_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_MANV]
GO
ALTER TABLE [dbo].[HOADONBAN]  WITH NOCHECK ADD  CONSTRAINT [FK_HOADONBAN_MATT] FOREIGN KEY([MATT])
REFERENCES [dbo].[HTTT] ([MATT])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[HOADONBAN] CHECK CONSTRAINT [FK_HOADONBAN_MATT]
GO
ALTER TABLE [dbo].[LICHSUDONGIA]  WITH NOCHECK ADD  CONSTRAINT [FK_LICHSU_MAHANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LICHSUDONGIA] CHECK CONSTRAINT [FK_LICHSU_MAHANG]
GO
ALTER TABLE [dbo].[LICHSUNHAPHANG]  WITH NOCHECK ADD  CONSTRAINT [FK_LICHSUNHAPHANG_MAHANG] FOREIGN KEY([MAHANG])
REFERENCES [dbo].[HANG] ([MAHANG])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[LICHSUNHAPHANG] CHECK CONSTRAINT [FK_LICHSUNHAPHANG_MAHANG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH NOCHECK ADD  CONSTRAINT [FK_CHUCVU_MACV] FOREIGN KEY([MACV])
REFERENCES [dbo].[CHUCVU] ([MACV])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_CHUCVU_MACV]
GO
ALTER TABLE [dbo].[TAIKHOANKH]  WITH NOCHECK ADD  CONSTRAINT [FK_TAIKHOANKH_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[TAIKHOANKH] CHECK CONSTRAINT [FK_TAIKHOANKH_MAKH]
GO
ALTER TABLE [dbo].[TAIKHOANNV]  WITH NOCHECK ADD  CONSTRAINT [FK_TAIKHOANNV_MANV] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[TAIKHOANNV] CHECK CONSTRAINT [FK_TAIKHOANNV_MANV]
GO
